body {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  color: rgb(25, 27, 26);
  text-align: center;
  font-size: 70px;
  margin: 10px 0;
}
.container {
  display: grid;
  place-items: center;
  height: 50vh;
}
.stitch {
  width: 350px;
  height: 350px;
}

.header {
  overflow: hidden;
  background-color: rgb(2, 121, 239);
  padding: 10px 0;
}

.header img {
  height: 50px;
  width: 50px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}

.header a.logo {
  font-size: 25px;
}

.header a:hover {
  background-color: #000000;
  color: white;
}

.header a.active {
  background-color: #117554;
  color: white;
}

.header-Right {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1230AE;
  color: #f2f8f8;
  text-align: center;
  padding: 10px 0;
}

#content {
  color: maroon;
  text-align: justify;
  font-size: 25px;
  margin: 20px;
}
